<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    <main>
        <div class="main-header">
            <h2 class="registrarse">Registrarse</h2>
            <p class="ir-a-login">¿Ya eres usuario? <a href="/users/login">Ingresa</a></p>
        </div>
        <form class="formulario" action="" >
            
            <input class="user-name" type="text" name="user-name" placeholder="Ingresa tu nombre">
            <input class="user-surname" type="text" name="user-surname" placeholder="Ingresa tu apellido">
            <input class="user-email" type="text" name="email" placeholder="Ingresa tu email">
            <input class="pass" type="password" name="pass" placeholder="Constraseña">
            <input class="pass" type="password" name="pass" placeholder="Repetir constraseña">
            <button class="boton" type="submit">Registrarse </button>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>