h2{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Nunito', sans-serif;
}

/*
Colores
Verde oscuro #4B9C45
Verde claro #9AD08F
Verde fondo #D2E8C9
Rojo #C75D5D
Amarrillo #FFFBE9
*/

body{
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;  
    background-color: #D2E8C9;
}


/*DETALLE, DONDE APARECE EL TITULO LA FOTO Y LOS DOS BOTONES*/

.sector_detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sector_detalle img{
    width: 100%;
    
}

.titulo{
    width: 100%;
    text-align: left;
    position: relative;
    margin:30px;

}

.desc{
    margin:30px;
    position: relative;
    bottom:30px;
}




/*BOTONES COMPRA*/

.cursos_boton{
    background-color: #4b9045;
    border: 2px solid #9ad08f;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    bottom: 120px;
}



.botones_comprayver{
    margin:90px;
    
}


/*DOCENTE, DONDE APARECE LA FOTO Y EL NOMBRE */


.contenedor_docente{
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:30px;
    bottom: 70px;
}

.docente_desc{
    align-self: center;
    flex-wrap: wrap;
    margin: 0;
}

.docente_foto{
    align-self: center;
}

.docente_foto img{
    border-radius: 90%; 
}


/*UNIDADES DEL CURSO*/

.sector_programa{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    bottom: 160px;
}

.sel_unidad, .detalle, .unidad{
    align-self: center;
}

.descripcion{
    background-color: white;
    align-self: center;
}


/*ESPECIFICACIONES TÉCNICAS DEL CURSO*/

.sector_esptecnicas{
    position: relative;
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 40px;
    bottom: 150px;
}

.t_spf{
    position: relative; 
    margin: 20px;
}

.t_spfs{
    position: relative;
    margin: 20px;
}



/*ajuste tablet*/

@media (min-width: 768px){

    

    .sector_detalle{
        justify-content: flex-start;
    }

    .sector_detalle img{
        position: relative;
        top:100px;
        margin: 20px;
        width: 60%;
        
    }


    .titulo{
        position: relative;
        bottom:300px;
        font-size: 30px;
    }

    .desc{
        position: relative;
        bottom:280px;
        font-size: 15px;
        display:none;
    }

    
    .sector_docente{
        display: flex;
        flex-direction: row;   
        justify-content: flex-end;
        position: relative;
        bottom: 300px;
        
    }

    .botones_comprayver{
        width: 200px;
        position: relative;
        left: 400px;
    }

    
    .sector_esptecnicas{
        display:flex;
        width: 250px;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 460px;
        bottom: 900px;
    }


    .sector_programa{
        width: 400px;
        position: relative;
        bottom: 500px;
        flex-wrap: wrap;
        display:flex;
    }
    
}


/*ajuste pc*/

@media (min-width: 1200px){

    

    .sector_detalle{
        justify-content: flex-start;
    }

    .sector_detalle img{
        position: relative;
        bottom: 250px;
        margin: 80px;
        width: 50%;
    }


    .titulo{
        position: relative;
        bottom:500px;
        font-size: 30px;
        margin: 80px;
    }

    .desc{
        position: relative;
        bottom:280px;
        font-size: 15px;
        display:none;
    }

    
    .sector_docente{
        
        display: flex;
        flex-direction: row;   
        justify-content: flex-end;
        position: relative;
        bottom: 650px;
        right: 300px;
    }

    

    .botones_comprayver{
        width: 200px;
        position: relative;
        left: 200px;
    }

    
    .sector_esptecnicas{
        display:flex;
        width: 180px;
        text-align: center;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 1050px;
        bottom: 1450px;
    }


    .sector_programa{
        width: 400px;
        position: relative;
        left: 850px;
        bottom: 900px;
        flex-wrap: wrap;
        display:flex;
    }
    
}