h2{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration-line: none;
    color: black;
    font-family: 'Nunito', sans-serif;
}

*{
    box-sizing: border-box;
}

/*
Colores

Botones relleno #4B9C45
Botones solo borde #9AD08F
Rojo para resaltar #C75D5D
Amarrillo #FFFBE9
Fondo #D2E8C9
*/

body{
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

.resumen_carrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "total pago" "cupon cupon";
    grid-gap: 5px;
    width: 100%;
    padding: 10px;
    padding-top: 25px;
    background-color: #D2E8C9;
    max-width: 450px;
    margin: 0 auto;
}

    .total{
        grid-area: total;
    }

    .pago{
        display: grid;
        grid-area: pago;
        grid-template-rows: 4fr 3fr;
        justify-items: center;
    }

        .button_pagar{
            height: 90%;
            border-style: none;
            background-color: #9AD08F;
            color: white;
            cursor: pointer;
        }

        .medios_pago{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
        }

            .icon_pago{
                width: 80%;
                }

    .cupon{
        grid-area: cupon;
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: #9AD08F
    }
    
        .casilla_cupon{
            border-style: none;
            margin: 4px;
        }

        .button_cupon{
            border-style: none;
            background-color: transparent;
            color: white;
            cursor: pointer;
        }

.lista_carrito{
    width: 100%;
    padding: 0 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 25px;
}

    .producto{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
    }

        .detalles{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr 1fr;
            grid-template-areas: "titulo titulo" "idioma subtitulos";
            margin-left: 5px;
        }

            .titulo-profesor{
                grid-area: titulo;
            }

            .idioma{
                grid-area: idioma;
            }

            .subtitulos{
                grid-area: subtitulos;
            }

        .eliminar-precio{
            display: grid;
            grid-template-rows: 1fr 1fr;
        }

            .button_eliminar{
                border-style: none;
                background-color: transparent;
                text-align: end;
                color: #C75D5D;
                cursor: pointer;
            }

            .precio-ndescuento{
                text-align: end;
            }

.barra_divisora{
    border: 1px solid black;
    margin: 10px 0;
}

.ofertas {
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 25px;
}

    .ofertas img {

    width: 30%;
    margin: 0 5px;
    cursor: pointer;
    scroll-snap-align: center;
    }


/*Correccion para pantallas muy pequeñas*/

@media (max-width: 376px){

    .button_pagar{
        font-size: 15px;
    }

    .button_cupon{
        font-size: 15px;
    }

}

/*......TABLETS.....*/

@media (min-width: 768px){

}

/*.....LAPTOPS.....*/

@media (min-width: 1200px){

    .resumen_carrito{
        order: 1;
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 3fr 5fr;
        grid-template-areas: "total" "cupon" "pago";
        max-width: 350px;
        max-height: 368px;
    }

        .cupon{
            grid-template-columns: 100%;
            grid-template-rows: 45px 3fr;
            padding-right: 10px;
        }

            .button_cupon{
                font-size: 150%;
            }

        .button_pagar{
            font-size: 150%;
            order: 2;
            margin-top: 10px;
        }
        .icon_pago{
            align-self: end;
        }

    .cantidad_carrito{
        margin-top: 20px;
        margin-left: 20%;
    }

    .lista_carrito{
        max-width: 600px;
    }

    .promociones{
        order: 2;
    }


        .ofertas img{
            width: 20%;
        }

}