.formularioProducto{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin: auto;
}

.formularioProducto form{
    width: 90%;
    margin: auto;
}

.formularioProducto section input, textarea, select, button{
    margin: 10px;
    padding: 10px;
    width: 95%;
    box-sizing: border-box;
    outline-color: #9AD08F;
    border-radius: 5px;
    border: gray solid 1px;
}

.formTitle{
    margin: 10px;
}

.crear_boton{
    color: white;
    background-color: #4C9C45;
    padding: 10px;
    border: none;
    transition: all 1s;
}

.crear_boton:hover{
    background-color: rgba(75, 156, 69, 0.8);
}

.cancelar_boton{
   
    padding: 10px;
    border: none;
    transition: all 1s;
}

.cancelar_boton a{
    color: #4C9C45;
    text-decoration: none;
}

.cancelar_boton:hover{
    background-color: #C75D5D;
}

.cancelar_boton:hover a{
    color: white;
}

.errorTitle{
    color: #C75D5D; 
    font-size: 15px
}

.errores ul li{
 list-style: none;
 color: #C75D5D; 
}

.errores ul{
    padding-left: 0px;
}

.errores{
    padding-left: 20px;
}

#newElementId{
    padding-left: inherit;
}

#newElementId li{
list-style: none;
}

.masMenos{
    display: flex;
    flex-direction: row;
    width: 100px;
}

.masMenos div input{
    border: solid 1px #4C9C45;
    background: none;
    color: #4C9C45;
    width: 40px;
    transition: all 1s;
}

.masMenos div input:hover{
    color: white;
    background-color:  rgba(75, 156, 69, 0.8);
}

.unitsTitle{
    color: rgb(36, 36, 36);
    margin-left: 10px;
}


@media (min-width: 768px){
    .formTitle{
        padding-top: 10px;
    }
}

@media (min-width: 1200px){
    .formularioProducto form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .formularioProducto section{
        width: 45%;
        
    }
    .formTitle{
        margin: 20px;
        padding-left: 4.3%;
    }
    .botones_form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: flex-start;
        width: 90%;
    }
    .crear_boton, .cancelar_boton{
        width: 23%;
    }

    .errores{
        padding-left: 80px;
    }

    section .masMenos{
        width: 20%;
    }
}