.ingresar{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}


.ir-a-registro{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.link-login{
    text-decoration-line: none;
    color: #4B9C45;
    font-family: 'Nunito', sans-serif;
}

/*
Colores

Verde oscuro #4B9C45
Verde claro #9AD08F
Rojo #C75D5D
Amarrillo #FFFBE9
*/

.login-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-header-login{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 30px 50px 30px;
}

.ingresar{
    display: inline;
}

.ir-a-registro{
    display: inline;
    align-self: center;
}

.login-main .formulario{
    margin: 0 auto;
}

.user-email{
    display: block;
    margin: 0 auto 20px auto;
    width:300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.pass{
    display: block;
    margin: 0 auto 20px auto;
    width:300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;

}

.login-main .formulario .boton{
    margin: 0 25%;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 50%;
    height: 40px;
    border-style: none;
    background-color: #9AD08F;
    color:white;
    font-size: 25px;
}

.miss-pass{
    margin: 0 32%;
    width: 100%;
}

.login-main form{
    margin-left: auto;
}