*{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin: 0;
}

.navbar_header{
	width:100%; 
	background:#ffffff; 
	height:143px; 
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  top:0;
  right:0;
  width: fit-content;  
  color: #4C9C45;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  font-size: 28px;
}
.cross{
  background:none;
  top:0px;
  right:0;
  width: fit-content;  
  color: #4C9C45;
  border:0;
  font-size: 88px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  margin-top: 27px;
  /*display: none;*/
}
.menu{
    z-index:1000000; 
    font-weight:bold; 
    width:100%; 
    background:#f1f1f1;  
    position:absolute; 
    text-align:center; 
    font-size: 15px;
    /*display: none;*/
}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
.navbar_header{
    display: flex; 
    font-size:12px;
}

.logo_link{
    height: fit-content;
    width: fit-content;
    margin-right: auto;
}

span{
    padding-left:20px;
}
a{
    color:#336699;
}

.navbar_logo {
    width: 125px;
    padding: 10px;
}

.items_menu{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 22px 48px 0;
    width: 218px;
}

.items_menu a{
    width: fit-content;
    text-decoration: none;
    margin-right: 5px;
}

.navbar_boton{
    border: 1px solid #4C9C45;
    background-color: white;
    width: 73px;
    color: #4E4E4E;
    padding: 5px;
}

.navbar_boton:focus {
    outline-color: #4C9C45;
}

.navbar_carrito{
    color: #4C9C45;
    font-size: 24px;
    margin-left: 5px;
    width: fit-content;
}

.search_bar{
    border: 1px solid #4C9C45;
    width: 88%;
    margin: auto;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -57px;
    margin-bottom: 15px;
    transition: all 1s;
}

.search_bar input{
    border: none;
}

  .search_bar input:focus {
    outline: none;
}


.lupa{
    width: fit-content;
    padding-right: 7px;
    padding-top: 2px;
    color: #4E4E4E;
}

.signup_boton{
    display: none;
}


.estoy_aca{
    background-color: #D2E8C9;
}

.botonLupa{
    border: none;
    background: none;
    width: 26px;
}

.navbar_boton2{
    border: none;
    background: none;
    width: fit-content;
    color: #4E4E4E;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_boton2:focus {
    outline-color: #ffffff;
}

.avatarUser{
    width: 35px;
    margin-left: 12px;
    border-radius: 50%;
}

.nombreUsuario{
    display: none;
}

@media (min-width: 768px){
    .hamburger{
        display: none!important;
    }

    .cross{
        display: none!important;
    }

    .signup_boton{
        display: inline;
    }

    .link_carrito{
        order: -1;
    }

    .items_menu{
        padding: 0 44px 48px 0;
        width: 289px;
    }

    .items_menu form{
        width: fit-content;
    }

    .navbar_boton {
        width: 80px;
        padding: 11px;
    }

    .search_bar {
        width: 28%;
        margin: auto;
        margin-top: -117px;
        margin-right: 339px;
        transition: none;
    }

    .buscar{
        display: flex;
    }

    .navbar_logo {
        width: 169px;
        padding: 3px;
        margin-left: 28px;
    }

    .navbar_header {
        padding-top: 11px;
    }

    .menu{
        display: flex!important;
    }

    .lista_menu{
    display: flex;
    font-size: 19px;
    background-color: white;
    }

    #lista_menu{
        margin-top: -44px;
        /*padding: 13px 83px;*/
        
    }

    .no_web{
        display: none;
    }

    .menu a{
        transition: all 1s;
    }

    .menu a:hover{
        color: #4C9C45;
    }

    .estoy_aca{
        background-color: white;
        color: #4B9C45;
    }

    .nombreUsuario{
        display: inherit;
    }

    .navbar_boton2{
        margin-right: 10px;
        width: 100px;
    }

    .navbar_boton2:focus {
        outline-color: #D2E8C9;
    }

}