*{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    color: gray;
    margin: 30px 0px ;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    padding: 3%;
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
}


main .portada{
    margin-bottom: 5%;
    width: 100%;
}

main .portada h1{
    font-size: x-large;
    padding-bottom: 2%;
}

main .portada h3{
    font-size: small;
    padding-bottom: 2%;
}

main .portada .datos_sub{
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

main .portada .datos_sub .dat__{
    width: auto;
    height: auto;
    margin-left: 15px;
    font-size: small;
}

main .portada .datos_sub i{
    width: auto;
    height: auto;
    margin: 5px;
}

main .portada p{
    padding-bottom: 2%;
}

main .portada .descripcion_completa{
    padding-top: 2%;
    font-size: large;
}

main .programa{
    font-size: large;
    display: flex;
    flex-direction: column;
}

main .programa h2{
    padding-top: 4%;
}

main .programa .unidades_curso{
    display: flex;
    flex-direction: row;
    padding: 6%;
}


main .programa .requisitos{
    padding-top: 3%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main .programa .requisitos i{
    width: auto;
    height: auto;
    padding: 20px 20px;
    color: black
}

main .programa .requisito{
    font-size: small;
    width: 200px;
    background-color: white;
    color: #272727;
}

main .programa .unidades{ 
    margin-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 -2px 7px 0 rgba(22,22,22,.01), 0 2px 10px 0 rgba(80,80,80,.1);    
}

main .programa .unidades .subtittle_unit{
    padding: 20px 30px;
    font-size: large;
}

main .programa .unidades .unidad{
    font-size: small;
    padding: 1%;
    margin: 1%;
    width: 40%;
    text-align: center;
    vertical-align: middle;
    border-radius:150px;
    border: 1px solid #4C9C45;
    background-color: white;
    display: flex;
    flex-direction: row;
}

main .programa .unidades .unidad .unit_indice{
    width: 32px ;
    height: 32px; 
    background-color: rgba(154, 208, 143, 0.5);;
    border-radius:150px;
    border: none;
    text-align: center;
    vertical-align: auto;
}

main .programa .unidades .unidad .unit_name{
    width: auto ;
    padding-left: 10px;
}

main .sobre_dg{
    margin-top: 20px;
}

main .sobre_dg .item{
    margin-top: 40px;
}

main .sobre_dg h2{
    margin-left: 10px;
}

main .sobre_dg p{
    color: #848484;
}

main .sobre_dg i{
    width: auto;
    height: auto;
    margin-right: 20px;
}


.botones{
    display: none;
}

/* SIDEBAR */

aside{
    padding: 80px 30px;
    background: rgba(154, 208, 143, 0.5);
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.datos_curso{
    display: flex;
    flex-direction: column;
    
}

.datos_curso .dat__{
    margin: 5px 0%;
    font-size: small;
}

.datos_curso i{
    width: auto;
    margin-right: 10px;
}

.datos_curso .precio{
    margin: 20px 0px;
    font-style: unset;
    font-size: x-large;
    text-align: left;   
}

aside .botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside .botones .buy_boton{
    color: white;
    font-size: large;
    background-color: #4C9C45;
    height: 50px;
    width: 300px;
    border: none;
    margin: 0px 10px;
    transition: all 1s;
    box-sizing: border-box;
}

aside .botones .buy_boton i{
    width: auto;
}


aside .botones .delete_boton{
    color: white;
    font-size: large;
    background-color: #da341e;
    height: 50px;
    width: 300px;
    border: none;
    margin: 0px 10px;
    transition: all 1s;
    box-sizing: border-box;
}

aside .botones .delete_boton i{
    width: auto;
}

aside .botones .edit_boton{
    color: white;
    font-size: large;
    background-color: #ebc000;
    height: 50px;
    width: 300px;
    border: none;
    margin: 0px 10px;
    transition: all 1s;
    box-sizing: border-box;
}

aside .botones .edit_boton i{
    width: auto;
}



@media (max-width: 1267px){
    aside{
        display: none;
    }

    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .botones .buy_boton{
        color: white;
        font-size: large;
        background-color: #4C9C45;
        height: 50px;
        width: 300px;
        border: none;
        margin: 0px 10px;
        transition: all 1s;
        box-sizing: border-box;
        justify-self: center;
    }

    .botones a{
        
        box-sizing: border-box;
        
    }
    
    .botones .buy_boton i{
        width: auto;
        
    }
    
    
    .botones .delete_boton{
        color: white;
        font-size: large;
        background-color: #da341e;
        height: 50px;
        width: 300px;
        border: none;
        margin: 0px 10px;
        transition: all 1s;
        box-sizing: border-box;
    }
    
    .botones .delete_boton i{
        width: auto;
    }
    
    .botones .edit_boton{
        color: white;
        font-size: large;
        background-color: #ebc000;
        height: 50px;
        width: 300px;
        border: none;
        margin: 0px 10px;
        transition: all 1s;
        box-sizing: border-box;
    }
    
    .botones .edit_boton i{
        width: auto;
    }

    main .portada{
        display:flex;
        flex-direction: column;
        
    }

    main .portada img{
        order: -1;
       
    }

    main .portada .datos_sub{
      display:none;
    }

    .datos_curso{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .datos_curso .dat__{
        width: 300px;
        padding: 3px 3px;
    }

    
}