*{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    padding: 3%;
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
}


main .portada{
    margin-bottom: 5%;
    width: 100%;
}

main .portada h1{
    font-size: xx-large;
    padding-bottom: 2%;
}

main .portada p{
    padding-bottom: 2%;
}

main .portada .descripcion_completa{
    padding-top: 2%;
    font-size: large;
}


main .programa{
    font-size: large;
    display: flex;
    flex-direction: column;
}

main .programa h2{
    padding-top: 4%;

}

main .programa .unidades_curso{
    display: flex;
    flex-direction: row;
    padding: 6%;
}


main .programa .requisitos{
    padding-top: 3%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main .programa .requisito{
    padding: 3%;
    margin: 2%;
    border-radius:10px;
    border: 1px solid  #4C9C45;
    background-color: white;
    width: 30%;
    height: 200px;
}

main .programa .unidades{
    
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main .programa .unidades .unidad{

    padding: 3%;
    margin: 1%;
    width: 30%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
    border-radius:150px;
    border: 1px solid #4C9C45;
    background-color: white;
}

aside{
    padding: 2%;
    padding-top: 10%;
    padding-left: 0;
    width: 20%;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

aside .datos_curso{
    
    padding: 10%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    

}

aside .datos_curso .dat__{
    margin: 1%;
    background-color: #FF1C45;
}

aside .datos_curso .precio{
    
    
    font-size: xx-large;
    text-align: center;
    
}


aside img{
    border-radius:150px;
    width: 50%;
}

aside .botones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .botones .buy_boton{
    color: white;
    font-size: xx-large;
    background-color: #4C9C45;
    padding: 10px;
    border: none;
    width: 70%;
    height: 70%;
    transition: all 1s;
    
}

aside .botones .modify_botons{
    display: flex;
    justify-content:    space-around;
    margin-top: 2%;
}

aside .botones .delete_boton{
    color: white;
    font-size: xx-large;
    background-color: #FF1C45;
    padding: 10px;
    border: none;
    width: 30%;
    height: 100%;
    transition: all 1s;
}

aside .botones .edit_boton{
    color: white;
    font-size: xx-large;
    background-color: orange;
    padding: 10px;
    border: none;
    width: 30%;
    height: 100%;
    transition: all 1s;
}


@media (max-width: 768px){

    .contenedor{
        flex-direction: column;
    }


    main .programa .unidades{
        
        padding: 1%;
        margin: 1%;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }

    main .programa .unidades .unidad{
       width: 100%;
      
        
    }
    

    main .programa .requisitos{

        margin-top: 10%;
       
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    main .programa .desc_requisitos{

        margin-top: 50%;
        
        
    }

    main .programa .requisito{

        width: 50%;
        
    }

    aside{
        width: 100%;
        padding:0;

    }

    aside .boton{
        width: 50%;
    }

    aside .datos_curso{
        
        padding-left: 3%;
        padding-bottom: 3% ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    aside .datos_curso .dat__{
    
        padding-left: 3%;
        padding-bottom: 4%;
        margin:0;
        
    }

    aside .datos_curso .precio{
        
        padding-bottom: 6%;
    }
}