h2{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

a{
    text-decoration-line: none;
    color: #4B9C45;
    font-family: 'Nunito', sans-serif;
}

/*
Colores

Verde oscuro #4B9C45
Verde claro #9AD08F
Rojo #C75D5D
Amarrillo #FFFBE9
*/

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 5vh;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0px 40px 0px;
    text-align: center;
}


.ir-a-login{
    display: inline;
    align-self: center;
}

.formulario{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 0px;
    align-items: center;
}

.errorTitle{
    color: #C75D5D; 
    font-size: 15px
}

.errores ul li{
 list-style: none;
 color: #C75D5D; 
}

.errores ul{
    padding-left: 0px;
}

.errores{
    padding-left: 20px;
}

.user-email, .user-name, .user-surname, .pass, .avatar, .category{
    display: block;
    margin: 0 auto 20px auto;
    width:200px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    
}


.boton{
    margin: 0 25%;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 142px;
    height: 40px;
    border-style: none;
    background-color: #9AD08F;
    color:white;
    font-size: 22px;
}


@media(min-width: 768px){

    .main-header {
        display: block;
        text-align: center;
    }

}