<article class="home_cursos">
    <section class="subtitulo_cursos">
    <h2 class="subtitulo">Cursos</h2>

   <div id="titulo_edad"><div  class="categoria por_edad">
   <button id="boton1" class="cursos_boton"><i class="fas fa-angle-left"></i></button>
   <p class="categoria_cursos">POR EDAD</p>
   <button id="boton2" class="cursos_boton"><i class="fas fa-angle-right"></i></button>
   </div></div>

   <div id="titulo_experiencia"><div class="categoria por_experiencia">
       <button id="boton3" class="cursos_boton"><i class="fas fa-angle-left"></i></button>
       <p class="categoria_cursos">POR EXPERIENCIA</p>
       <button id="boton4" class="cursos_boton"><i class="fas fa-angle-right"></i></button>
       </div></div>

   <div id="titulo_ambiente"><div class="categoria por_ambiente">
       <button id="boton5" class="cursos_boton"><i class="fas fa-angle-left"></i></button>
       <p class="categoria_cursos">POR AMBIENTE</p>
       <button id="boton6" class="cursos_boton"><i class="fas fa-angle-right"></i></button>
       </div></div>

   </section>
   <div id="por_edad">
   <section class="categorias">
       <button id="boton7" class="cursos_boton2"><i class="fas fa-angle-left"></i></button>
       <a class="categoria_link" href="">
       <div class="una_categoria"><img class="categoria_img" src="/images/edadjoven.png" alt="Niños"> <p class="categoria_titulo">Niños</p></div></a>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/edadjovenadulto.png" alt="Jovenes Adultos"> <p class="categoria_titulo">Jóvenes Adultos</p></div></a>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/edadadulto.png" alt="Adultos"> <p class="categoria_titulo">Adultos</p></div></a><button id="boton8" class="cursos_boton2"><i class="fas fa-angle-right"></i></button>
   </section></div>

   <div id="por_experiencia"><section class="categorias">
       <button id="boton9" class="cursos_boton2"><i class="fas fa-angle-left"></i></button>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/experienciaempezando.png" alt="Niños"> <p class="categoria_titulo">Empezando</p></div></a>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/experienciaconconocimiento.png" alt="Jovenes Adultos"> <p class="categoria_titulo">Con conocimiento</p></div></a>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/experienciaavanzado.png" alt="Adultos"> <p class="categoria_titulo">Avanzado</p></div></a><button id="boton10" class="cursos_boton2"><i class="fas fa-angle-right"></i></button>
   </section></div>

   <div id="por_ambiente"><section class="categorias">
       <button id="boton11" class="cursos_boton2"><i class="fas fa-angle-left"></i></button>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/ambienteinterior.png" alt="Niños"> <p class="categoria_titulo">Interior</p></div></a>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/ambientepatio.png" alt="Jovenes Adultos"> <p class="categoria_titulo">Patios y balcones</p></div></a>
       <a class="categoria_link" href=""><div class="una_categoria"><img class="categoria_img" src="/images/ambientejardin.png" alt="Adultos"> <p class="categoria_titulo">Jardín</p></div></a><button id="boton12" class="cursos_boton2"><i class="fas fa-angle-right"></i></button>
   </section>
</div>

</article>