<header class="navbar_header">
        
  <a class="logo_link" href="/"><img class="navbar_logo" src="/images/gardin_logo_verde.png" alt="Gardin Logo"></a>
  <div class="items_menu">
  <%if(usuarioLog != 0){%>
  <a href="/users/profile"><button class="navbar_boton2"><p class="nombreUsuario"><%=nombreLog%></p><img class="avatarUser" src="/images/profile-pic.png" alt="Mi Perfil"></button></a>
  <form action="/logout" method="POST"><button type="submit" class="navbar_boton">Log out</button></form>
  <%}else{%>
  <a href="/users/login"><button class="navbar_boton">Login</button></a>
  <a href="/users/signin" class="signup_boton"><button class="navbar_boton">Sign up</button></a>
  <%}%>
  <a href="/products/carrito" class="link_carrito"><i class="fas fa-shopping-cart navbar_carrito"></i></a>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
  </div>

  
</header>
<div class="buscar">
<form class="search_bar" action="/products/search-results" method="POST">
<input name="buscar" type="text" placeholder="Buscar..."> <button type="submit" class="botonLupa"></button><i class="fas fa-search lupa"></i></button></form>
</div>

<div class="menu">
  <ul id="lista_menu" class="lista_menu">
    <a href="index.html" class="no_web"><li class="estoy_aca">Inicio</li></a>
    <a href="/products"><li>Cursos</li></a>
    <a href="#"><li>Promociones</li></a>
    <!-- <a href="/users/profile" class="no_web"><li>Mi cuenta</li></a> -->
    <a href="/products/create"><li>Crear Curso</li></a>
    <a href="#"><li>Contacto</li></a>
    <a href="#"><li>Ayuda</li></a>
  </ul>
</div> 