<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>

    <%- include('./partials/navbar') %>
    <main>
    
    <section class="titulo"><h2 class="contact">Contacto</h2></section>
    <section class="content">
    <article class="main">
    <section class="info-contact">
    <h4 class="subtitulo"><b>¿No encontraste la respuesta a tu pregunta en la sección de <a href="/help">Preguntas frecuentes</a>? ¡Contactanos!</b></h4>
    <h3 class="intro-titulo">Atención al cliente</h3>
    <h4 class="info-contacto">Email: gardin@digitalgardin.com.ar</h4>
    <h4 class="info-contacto">Central Telefónica: 0800 345 5577</h4>
    <h4 class="info-contacto">WhatsApp: 9 11 2679 5353</h4>
    <h4 class="post-titulo"><b>Horario de atención > Lunes a viernes de 9 a 19 hs y Sabados de 9 a 14hs</b></h4>
    </section>
    </article>
    <article class="aside">
        <section class="planta-icon">
        <img src="/images/plant-phone.png" alt="planta">
        </section>
    </article>
    </section>
    </main>

    
    <%- include('./partials/footer') %>
</body>
<%- include('./partials/linksJsAbajo') %>
</html>